# Exploration for Disaster Message Categorization

In [1]:
import pandas as pd
import nltk
import sqlite3

## Exploring Message Categories

In [2]:
cats_raw_df = pd.read_csv("../data/disaster_categories.csv", header=0, index_col='id')
cats_raw_df.sample(20)

                                              categories
id
7415   related-0;request-0;offer-0;aid_related-0;medi...
13400  related-1;request-0;offer-0;aid_related-0;medi...
25371  related-1;request-0;offer-0;aid_related-1;medi...
29722  related-1;request-0;offer-0;aid_related-0;medi...
6634   related-1;request-0;offer-0;aid_related-1;medi...
9341   related-0;request-0;offer-0;aid_related-0;medi...
20260  related-1;request-0;offer-0;aid_related-0;medi...
2254   related-1;request-0;offer-0;aid_related-1;medi...
29247  related-0;request-0;offer-0;aid_related-0;medi...
2166   related-0;request-0;offer-0;aid_related-0;medi...
16115  related-1;request-0;offer-0;aid_related-0;medi...
26841  related-1;request-1;offer-0;aid_related-1;medi...
28070  related-0;request-0;offer-0;aid_related-0;medi...
13343  related-1;request-0;offer-0;aid_related-0;medi...
16724  related-1;request-0;offer-0;aid_related-1;medi...
15690  related-1;request-0;offer-0;aid_related-0;medi...
13668  related-1;request-0;offer-0;aid_related-0;medi...
18905  related-0;request-0;offer-0;aid_related-0;medi...
4969   related-1;request-1;offer-0;aid_related-1;medi...
2527   related-1;request-1;offer-0;aid_related-1;medi...

In [3]:
def get_categories(df: pd.DataFrame):
    """
    get category names from 1st item in data frame. assumes categories appear in same order in every row

    :param df: data frame to sample
    :return: list of category name strings
    """
    tokens = df.iloc[0]['categories'].split(";")
    return [tok.split("-")[0] for tok in tokens]

def get_category_values(line: str):
    """
    Parse a message categories line, return values as list

    :param line: categories string for single disaster message
    :return: list of 1-hot encoded categories
    """
    tokens = line.split(";")
    return pd.Series([int(tok.split("-")[1]) for tok in tokens])

In [4]:
columns = get_categories(cats_raw_df)
test = cats_raw_df['categories'].apply(get_category_values)
test.columns = columns
test.sample(20)

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
5324,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13451,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7813,1,1,0,1,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1
28459,1,0,0,1,1,0,0,0,0,0,...,0,0,1,0,1,0,1,0,0,0
29524,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22319,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23298,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7720,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
10906,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21406,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21238,1,0,0,1,1,1,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
18130,1,1,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,1
20464,1,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
16877,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
12190,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23536,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28187,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
19143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27189,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# number of valid entries
test.count()

related                   26248
request                   26248
offer                     26248
aid_related               26248
medical_help              26248
medical_products          26248
search_and_rescue         26248
security                  26248
military                  26248
child_alone               26248
water                     26248
food                      26248
shelter                   26248
clothing                  26248
money                     26248
missing_people            26248
refugees                  26248
death                     26248
other_aid                 26248
infrastructure_related    26248
transport                 26248
buildings                 26248
electricity               26248
tools                     26248
hospitals                 26248
shops                     26248
aid_centers               26248
other_infrastructure      26248
weather_related           26248
floods                    26248
storm                     26248
fire                      26248
earthquake                26248
cold                      26248
other_weather             26248
direct_report             26248
dtype: int64

In [6]:
# number of messages with category
test.sum()

related                   20316
request                    4480
offer                       119
aid_related               10878
medical_help               2087
medical_products           1314
search_and_rescue           724
security                    471
military                    860
child_alone                   0
water                      1674
food                       2930
shelter                    2319
clothing                    406
money                       604
missing_people              299
refugees                    876
death                      1196
other_aid                  3448
infrastructure_related     1705
transport                  1203
buildings                  1335
electricity                 534
tools                       159
hospitals                   283
shops                       120
aid_centers                 309
other_infrastructure       1151
weather_related            7304
floods                     2158
storm                      2448
fire                        282
earthquake                 2455
cold                        530
other_weather              1376
direct_report              5081
dtype: int64

In [7]:
# fraction of messages with category
test.sum() / test.count()

related                   0.774002
request                   0.170680
offer                     0.004534
aid_related               0.414432
medical_help              0.079511
medical_products          0.050061
search_and_rescue         0.027583
security                  0.017944
military                  0.032764
child_alone               0.000000
water                     0.063776
food                      0.111628
shelter                   0.088350
clothing                  0.015468
money                     0.023011
missing_people            0.011391
refugees                  0.033374
death                     0.045565
other_aid                 0.131362
infrastructure_related    0.064957
transport                 0.045832
buildings                 0.050861
electricity               0.020344
tools                     0.006058
hospitals                 0.010782
shops                     0.004572
aid_centers               0.011772
other_infrastructure      0.043851
weather_related           0.278269
floods                    0.082216
storm                     0.093264
fire                      0.010744
earthquake                0.093531
cold                      0.020192
other_weather             0.052423
direct_report             0.193577
dtype: float64

## Exploring messages

In [8]:
msg_raw = pd.read_csv("../data/disaster_messages.csv", header=0, index_col='id')
msg_raw.sample(20)

,message,original,genre
id,,,
25051,"Poor soil exacerbates the drainage problems, l...",NaN,news
6857,No Problems. I will give the message to my peo...,Pa gen problem. Map tou profite fe mesaj la pa...,direct
9844,tell us what will have for tonight please?,Di nou kisa ki genyen pou asw a svp.,direct
22031,Antibiotics and IV's can prevent infections fr...,NaN,news
15602,Some of the NYC Marathon participants will be ...,NaN,social
14839,I'm down for this hurricane as long as we don'...,NaN,social
12453,We have a group of Orange County California fa...,NaN,direct
25530,Responding to a call by the PIF Leaders to con...,NaN,news
16532,Referring to the devastating earthquake that s...,NaN,news
18719,"DOHA, Nov 11 (AFP) - Qatar announced Sunday it...",NaN,news
27459,More than 40 people who had spent a night in c...,NaN,news
6443,I'm asking some information on how can I get s...,Map mande s v p yon ti enfomasyo sou ki mwayen...,direct
9656,what must do with a baby in the rains season?,Kisa pou yon moun fe nan ka gwo lapli ak yon bebe,direct
18994,"Similarly, in the district of Gorontalo, North...",NaN,news
22238,"In addition, the valuables at homes were wiped...",NaN,news
7510,if he/it pleases you my brothers help me has f...,"me zanmi nou banm yon tipase men non svp, pou ...",direct
12276,Everyone 's tweets yesterday included .. Sandy...,NaN,social
2749,I'm unable - all of my family was killed I've ...,MWEN PA KAPAB TOUT FANMIY MWEN MOURI KAY MWEN ...,direct
9590,I want to know the phone number of the Nationa...,Nimewo telefonn sevis pou klyan nan achiv nasy...,direct
11719,Earthquake Pictures | Earthquake Photo | Earth...,NaN,social

In [9]:
# distribution of message genres
msg_raw['genre'].value_counts()

news      13068
direct    10782
social     2398
Name: genre, dtype: int64

In [10]:
# fraction of messages that have an original in a different language
msg_raw['original'].count() / len(msg_raw)

0.3879914660164584

In [11]:
# message counts by genre
msg_raw.groupby('genre').count()

        message  original
genre
direct    10782     10184
news      13068         0
social     2398         0

In [12]:
# some messages have NOTES
noted_msg = msg_raw.loc[msg_raw['message'].str.contains('NOTES')]
noted_msg

,message,original,genre
id,,,
3539,NOTES: Personal. Not an emergency.,"prezidan preval mande,pou tout moun ki konn bw...",direct
3579,NOTES: aclet dry We are counting on you.,aclet dry. nous comptons sur vous.,direct
3583,NOTES: talking about gas prices,GEN SERI DE MESAJ FOK NOU TA BIEN PRECIZE YO L...,direct
3651,NOTES: Historic earthquake in Haiti.,"istorik tranblemannte an ayiti svp,",direct
3737,NOTES: They are requesting that somebody to pa...,Mesaj avek la otorite sil vou ple mezanmi pase...,direct
...,...,...,...
11161,NOTES: I already translated the message is not...,Je vous salut dans le nom de Dieu merci a la r...,direct
11167,NOTES: this messsage doesn't concern this job,metenan je te salye nan nom jesus ti na pa ape...,direct
11168,NOTES: This text is not clear. it doesn't has ...,BEGIN:VCARD N:W TEL:999 END:VCARD,direct
11171,"NOTES: I allready translate this message, it's...",Mw se rolain mw ta renmen konnen Eske pa gen k...,direct
11172,NOTES: I allready translate thi message.,n'ap fe yon bon travay.m remsye nou pou tout e...,direct

In [13]:
# get noted indices for dropping
noted_msg.index

Int64Index([ 3539,  3579,  3583,  3651,  3737,  3761,  3775,  3820,  3871,
             3877,
            ...
            11100, 11109, 11110, 11138, 11143, 11161, 11167, 11168, 11171,
            11172],
           dtype='int64', name='id', length=331)

In [14]:
# drop noted messages
cleaned_msg = msg_raw.drop(noted_msg.index, axis=0)
cleaned_msg

,message,original,genre
id,,,
2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct
...,...,...,...
30261,The training demonstrated how to enhance micro...,NaN,news
30262,A suitable candidate has been selected and OCH...,NaN,news
30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news
30264,"Some 2,000 women protesting against the conduc...",NaN,news
30265,A radical shift in thinking came about as a re...,NaN,news

In [18]:
unified = msg_raw.join(test)

In [23]:
gmc = unified.groupby('genre').sum()

In [24]:
[gmc.loc[genre] for genre in gmc.index]

[related                   7534
 request                   3727
 offer                       49
 aid_related               4378
 medical_help               597
 medical_products           472
 search_and_rescue          217
 security                   131
 military                    47
 child_alone                  0
 water                      846
 food                      1829
 shelter                   1165
 clothing                   252
 money                      148
 missing_people              86
 refugees                   175
 death                      254
 other_aid                 1584
 infrastructure_related     330
 transport                  210
 buildings                  397
 electricity                 84
 tools                       33
 hospitals                   54
 shops                       33
 aid_centers                 78
 other_infrastructure       189
 weather_related           1534
 floods                     309
 storm                      320
 fire                        41
 earthquake                 798
 cold                        63
 other_weather              208
 direct_report             3641
 Name: direct, dtype: int64,
 related                   10776
 request                     611
 offer                        65
 aid_related                5909
 medical_help               1425
 medical_products            798
 search_and_rescue           441
 security                    292
 military                    803
 child_alone                   0
 water                       792
 food                       1015
 shelter                    1128
 clothing                    135
 money                       381
 missing_people              168
 refugees                    670
 death                       868
 other_aid                  1570
 infrastructure_related     1231
 transport                   880
 buildings                   835
 electricity                 327
 tools                       114
 hospitals                   202
 shops                        68
 aid_centers                 218
 other_infrastructure        867
 weather_related            4308
 floods                     1764
 storm                      1458
 fire                        225
 earthquake                  912
 cold                        418
 other_weather              1054
 direct_report               856
 Name: news, dtype: int64,
 related                   2140
 request                    175
 offer                        7
 aid_related                667
 medical_help                77
 medical_products            49
 search_and_rescue           67
 security                    48
 military                    13
 child_alone                  0
 water                       46
 food                       112
 shelter                     49
 clothing                    23
 money                       77
 missing_people              47
 refugees                    35
 death                       82
 other_aid                  310
 infrastructure_related     148
 transport                  122
 buildings                  113
 electricity                127
 tools                       12
 hospitals                   27
 shops                       19
 aid_centers                 13
 other_infrastructure        99
 weather_related           1501
 floods                     104
 storm                      686
 fire                        16
 earthquake                 751
 cold                        52
 other_weather              117
 direct_report              616
 Name: social, dtype: int64]